  input{
    font-size: 25px;
  }
  label{
    color: rgb(16, 8, 46);
    font-weight: bolder;
  }
  #data{

  }


legend {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  }

.button {
  margin-top: 10px;
  font-size: medium;
  
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

span {
  border: 1px solid black;
  padding: 0px 10px 0px;
  margin-top: 2px;
}

.header {
   background: linear-gradient(135deg, #57efbf, #64a8e4);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

fieldset {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: center;*/
  margin-top: 20px;
  /*background: linear-gradient(125deg, #67a5f5, #f3bbe0, #64a0e4, #d364e4); */
  border-radius: 10px;
  padding: 10px;
}

div {
  margin-top: 10px;
}


